
<%= form_for(@picture, url: choose_new_or_edit) do |f| %>
<% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= @picture.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= image_tag(@picture.fot2) if image_tag(@picture.fot2) %>

    <%= f.file_field :fot2 %>
    <%= f.hidden_field :fot2_cache %>
  </div>

  <%= f.label :タイトル %>
  <%= f.text_field :title, class: 'form-control' %>
  <br>
  <%= f.label :内容 %>
  <%= f.text_field :content, class: 'form-control'  %>
  <br>
<%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>

<%= link_to "投稿一覧画面にもどる", pictures_path %>
